<div>
  <ion-slides>
    
    <ion-slide class="a z">
      Slide 1
    </ion-slide>
    
    <ion-slide class="b z">
      Slide 2
    </ion-slide>
    
    <ion-slide class="c z">
      Slide 3
    </ion-slide>
    
    <ion-slide class="d z">
      Slide 4
    </ion-slide>
    
  </ion-slides>

  <ion-slides centeredSlides="true">
    <ion-slide class="a">
      Slide 1
    </ion-slide>
    
    <ion-slide class="b">
      Slide 2
    </ion-slide>
    
    <ion-slide class="c">
      Slide 3
    </ion-slide>
    
    <ion-slide class="d">
      Slide 4
    </ion-slide>
    <ion-slide class="a">
      Slide 5
    </ion-slide>
    
    <ion-slide class="b">
      Slide 6
    </ion-slide>
    
    <ion-slide class="c">
      Slide 7
    </ion-slide>
  </ion-slides>
</div>
