slider {
    ion-slides:nth-child(2) {
        height: 30vh;
    }
    ion-slide {
        //margin-right: 50px;
        //margin-left: 50px;
        //transform: scale(.3);
       //width: 60vw !important;
    }
    /* .swiper-slide-active {
        transform: scale(.5);
    } */

    .swiper-slide-active {
        transform: scale(.8);
    }

    .a {
        background: red;
    }
    .b {
        background: yellow;
    }
    .c {
        background: green;
    }
    .d {
        background: blue;
    }
}
